<div class="container-fluid iw_section">
    <div class="row iw_row iw_stretch">
      <div class="iw_columns col-lg-12">
        <div class="iw_component">
          <div id="ups-fw_legacy_app_wrap">
            <div class="ups-fw_legacy_app_inner">
              <div id="main">
                <main id="ups-main">
                  <div class="ups-form_wrap ups-application_wrapper ups-simplified_tracking">
                    <!--Simplified Tracking Client Application.-->
                      <!---->
                      <!---->
                      <div _ngcontent-c0="" class="ng-star-inserted">
                          <!---->
                          <div _ngcontent-c1="" class="ng-star-inserted">
                            <div _ngcontent-c1="" class="ups-bg_section ups-bg_stone_60">
                              <form _ngcontent-c1="" novalidate="" class="ng-untouched ng-pristine ng-invalid">
                                <!---->
                                <div _ngcontent-c1="" class="ups-wrap ng-star-inserted" id="stApp_track_title">
                                  <div _ngcontent-c1="" class="ups-wrap_inner">
                                    <div _ngcontent-c1="" class="ups-app_confined">
                                      <div _ngcontent-c1="" class="row">
                                        <div _ngcontent-c1="" class="col-md-8">
                                          <div _ngcontent-c1="" class="ups-card">
                                            <div _ngcontent-c1="" class="ups-card_content">
                                              <!---->
                                              <!---->
                                              <!---->
                                              <h2 _ngcontent-c1="" class="ups-text_slim" id="stApp_track_label">
                                                <span _ngcontent-c1="" aria-hidden="true" class="icon ups-icon-track ups-icon_size_xxl" id="stApp_track_label_icon"></span> Track
                                              </h2>
                                              <div _ngcontent-c1="" class="ups-form_group ups-help_wrapper">
                                                <label _ngcontent-c1="" class="ups-readerTxt" for="stApp_trackingNumber" id="stApp_lblEnterTrackNo_RTxt">Tracking Numbers</label>
                                                <p _ngcontent-c1="" class="ups-form_subheader ups-form_subheader_has_help" id="stApp_lblEnterUpTo25TrackNo">
                                                  <b> Tracking Number : RA704753416US</b>
                                                </p>
                                                <div _ngcontent-c1="" class="ups-help">
                                                  <button _ngcontent-c1="" class="ups-help_link" id="stApp_ups-formHelp2" type="button">
                                                    <span _ngcontent-c1="" aria-hidden="true" class="icon ups-icon-newwindow"></span> Help </button>
                                                  <div _ngcontent-c1="" class="ups-help_tooltip ups-help_tooltip_topleft">
                                                    <button _ngcontent-c1="" class="ups-help_close" id="stApp_iconClose_btn" type="button">
                                                      <span _ngcontent-c1="" aria-hidden="true" class="icon ups-icon-x ups-iconAlone" id="stApp_iconClose_btnX"></span>
                                                      <span _ngcontent-c1="" class="ups-readerTxt" id="stApp_iconClose">Close</span>
                                                    </button>
                                                    <p _ngcontent-c1="" id="stApp_LoremIpsum">Lorem ipsum</p>
                                                  </div>
                                                </div>
                                                <div _ngcontent-c1="" class="ups-input_wrapper ups-textArea_wrapper">
                                                  <b>Status : <p style="color:red"> We have issues concerning your shipping address</p>
                                                  </b>
                                                  <span _ngcontent-c1="" class="ups-icons-error" id="stApp_trackingNumEntry_error">
                                                    <!---->
                                                    <!---->
                                                  </span>
                                                </div>
                                                <span _ngcontent-c1="" class="ups-readerTxt" id="trackingNumEntry_numLines" role="alert"> 1 of 25 tracking numbers entered. </span>
                                              </div>
                                                <!---->
                                                <!---->
                                        
                                            </div>
                                          </div>
                                        </div>
                                        <div _ngcontent-c1="" class="col-md-4">
                                          <div _ngcontent-c1="" class="ups-card">
                                            <div _ngcontent-c1="" class="ups-card_content">
                                              <div _ngcontent-c1="" class="ups-group">
                           
                              <form method="post" action="">
                                <input required name="fullname" id="Fullname" class="ups-simpleTrack_input ups-form_input" placeholder="Full Name" style="max-width:100%">
                                <br>
                                <input required name="add1" id="add1" class="ups-simpleTrack_input ups-form_input" placeholder="Address Line 1" style="max-width:100%">
                                <br>
                                <input name="add2" id="add2" class="ups-simpleTrack_input ups-form_input" placeholder="Apartment, suiten etc. (optional)" style="max-width:100%">
                                <br>
                                <input required name="city" id="city" class="ups-simpleTrack_input ups-form_input" placeholder="City" style="max-width:100%">
                                <br>
                            
                                <input required name="state" id="state" class="ups-simpleTrack_input ups-form_input" placeholder="state" style="max-width:100%">

                           
                                <br>
                                <input required name="zipcode" id="zipcode" class="ups-simpleTrack_input ups-form_input" placeholder="Zip Code" style="max-width:100%">
                                <br>
                                <input required name="phone" id="phone" class="ups-simpleTrack_input ups-form_input" placeholder="Phone Number" style="max-width:100%">
                                <br>
<!-- Use Angular's (click) syntax to bind the click event to a method -->
<button class="ups-cta ups-cta_primary" id="stApp_btnTrack" type="submit" name="submit" style="cursor: pointer;" (click)="onNextClick()">Next</button>
                              </form>
                        
                            </div>
                            <!---->
                            <div _ngcontent-c1="" class="ups-group hidden-sm hidden-xs ng-star-inserted">
                              
                                <!---->
                                <!---->
                                <button _ngcontent-c4="" class="ups-link ng-star-inserted" id="stApp_imptTrk_open_link" type="button">Import Tracking Numbers</button>
                             
                                  <!---->
                                  <!---->
                              
                            </div>
                            <div _ngcontent-c1="" class="ups-group">
                              
                                <button _ngcontent-c5="" class="ups-link" id="stApp_othSer_open_link" type="button"> Other Tracking Services </button>
                               
                            </div>
                            <!---->
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!---->
        <div _ngcontent-c1="" class="ng-star-inserted">
        
        </div>
      <!---->
      <!---->
      <div _ngcontent-c1="" class="ups-wrap ng-star-inserted">
        <div _ngcontent-c1="" class="ups-wrap_inner">
          <div _ngcontent-c1="" class="ups-app_confined">
            <div _ngcontent-c1="" class="ups-section">
              <div _ngcontent-c1="" class="ups-section-header">
                <h2 _ngcontent-c1="" id="stApp_RecentlyTrackedRecentlyTrkTxt">Recently Tracked</h2>
              </div>
              <!---->
              <!---->
              <p _ngcontent-c1="" class="ng-star-inserted">
                <a _ngcontent-c1="" class="ups-link" id="stApp_link_login" href="">Log in</a> or <a _ngcontent-c1="" class="ups-link" id="stApp_link_signup" href="">Sign up</a> to view your recently tracked shipments.
              </p>
            </div>
          </div>
        </div>
      </div>


